@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base-100: #f7f9f7;
  --color-base-200: #fae6cc;
  --color-base-300: #1b1b19;
  --color-base-400: #222324;
  --color-base-500: #ff4a08;
  --color-base-600: #0dad93;
}
